/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;

  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /*border-top: 1px solid #e9e9e9;*/

  height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.lg-margin-bottom {
  margin-bottom: 60px;
}

.lg-margin-top {
  margin-top: 60px;
}

.md-margin-top {
  margin-top: 40px;
}

.sm-margin-top {
  margin-top: 20px;
}

.mr-0 {
  margin-right: 0;
}
.ml-auto {
  margin-right:auto;
}

.sm-margin-tops {
  margin-top: 10px;
}

.container {

  position: relative;

}

.footer-text {
  
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bgSizeContain {
  background-image: url('lecole.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  
}